@import './colors.scss';

.headerEduc{
    max-width: 300px;
    h2{
        padding: 16px;
        background-color: rgba(0, 26, 255, 0.2);
        margin-bottom: 16px;
    }
}


@media(max-width: 300px){
    .headerEduc{
        max-width: 200px;
        h2{
            padding: 0;
            margin-bottom: 4px;
            font-size: 1.1rem;
        }
        h3{
            font-size: 1rem;
        }
        h4{
            font-size: .9rem;
        }
    }
}