.section{
    width: 80%;
    position: relative;
    height: auto;
    height: auto;
    margin: 8vh 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

