@import '../../component//StyleComponents/colors.scss';

.blogs{
    position: relative;
    padding: 32px;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 350px));
    grid-template-rows: repeat(auto, 1fr);
    gap: 16px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: $--color__darkMode;
}