@import '../../StyleComponents/colors.scss';

.review{
    min-width: 200px;
    max-width: 350px;
    width: 30vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 16px;
    border: 1px solid $--color__borde;
    border-top-width: 10px;
    transition: all .5s ease-in;
    margin: 8px 16px;
    
    p{
        text-align: justify;
        margin-bottom: 32px;
        border-left: 5px solid $--color__borde;
        position: relative;
        span{
            //Necesario para solucionar el problema de la posicion (el Z index presento problemas por que la pagina About tambien estaba posicionada).
            display: inline-block;
            height: 100%;
            width: 100%;
            padding: 8px;
            position: relative;
            z-index: 5;
        }
        &::after{
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            top: 75%;
            left: 10%;
            z-index: 3;
        }
        &::before{
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            top: 75%;
            left: 15%;
            z-index: 4;
        }
    }
    img{
        max-height: 420px;
    }
    &:hover{
        border-color: $--color__base;
        transform: translateY(5px);
    }
}

.themeLightReview{
    background-color: #6b6b6b;
    color: #000;
    border-color: #fff;
    p{
        span{
            background-color: #fff;
        }
        &::after{
            background-color: #fff;
        }
        &::before{
            background-color: #6b6b6b;
        }
    }
}

.themeDarkReview{
    background-color: $--color__navBar;
    color: #fff;
    border-color: $--color__borde;
    p{
        span{
            background-color: #000;
        }
        &::after{
            background-color: #000;
        }
        &::before{
            background-color: $--color__navBar;
        }
    }
}